<!-- borrow-book-dialog.component.html -->
<h1 mat-dialog-title>Borrow Book</h1>


<button mat-button (click)="showScanner = !showScanner">
  {{ showScanner ? 'Hide Scanner' : 'Scan Barcode' }}
</button>

<mat-form-field appearance="fill">
  <mat-label>Select User</mat-label>
  <mat-select [(value)]="selectedUserId">
    <mat-option *ngFor="let user of users" [value]="user.id">
      {{ user.firstName }} {{ user.lastName }} (ID: {{ user.id }})
    </mat-option>
  </mat-select>
</mat-form-field>
  <!-- Barcode Scanner -->
  <zxing-scanner
    *ngIf="hasPermission"
    [device]="selectedDevice"
    (scanSuccess)="onCodeResult($event)"
  ></zxing-scanner>

  <div *ngIf="!hasPermission">
    <p>Camera access is required to scan barcodes.</p>
  </div>

  <!-- Display Scanned Barcode -->
  <div *ngIf="scannedBarcode">
    <p>Scanned Barcode: {{ scannedBarcode }}</p>
  </div>
  <!-- Borrow Button -->
  <button mat-raised-button color="primary" (click)="onBorrow()">Borrow Book</button>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Book Barcode</mat-label>
    <input matInput [(ngModel)]="scannedBarcode" name="scannedBarcode" readonly>
    <button mat-button matSuffix mat-icon-button aria-label="Scan Barcode" (click)="onScanBarcode()">
      <mat-icon>qr_code_scanner</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dueDate" name="dueDate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onBorrow()" [disabled]="!selectedUserId || !dueDate || !scannedBarcode">
    Borrow
  </button>
</div>