/* user-registration.component.css */
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.registration-card {
  width: 500px;
}

.full-width {
  width: 100%;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  margin-top: 20px;
}