/* borrow-add.component.css */
.borrow-add-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .borrow-add-card {
    width: 600px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .barcode-scanner {
    margin-bottom: 15px;
  }