/* src/app/components/user-registration/user-registration.component.css */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .registration-card {
    width: 500px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }