/* src/app/components/add-book/add-book.component.css */
.add-book-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.add-book-card {
  width: 600px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}