<!-- app.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Library App</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/books" *ngIf="hasRole(['admin', 'staff', 'user'])">Books</a>
      <a mat-list-item routerLink="/add-book" *ngIf="hasRole(['admin', 'staff'])">Add Book</a>
      <a mat-list-item routerLink="/categories" *ngIf="hasRole(['admin', 'staff'])">Categories</a>
      <a mat-list-item routerLink="/borrow-book" *ngIf="hasRole(['staff'])">Borrow Book</a>
      <a mat-list-item (click)="logout()" *ngIf="hasRole(['admin', 'staff', 'user'])">Logout</a>
      <!-- Add more links as needed -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>