<!-- src/app/components/category-management/category-management.component.html -->
<div class="category-management-container">
    <mat-card class="category-management-card">
      <mat-card-title>Category Management</mat-card-title>
      <mat-card-content>
        <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Category Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="!addCategoryForm.valid">
            Add Category
          </button>
        </form>
  
        <mat-divider></mat-divider>
  
        <h3>Existing Categories</h3>
        <mat-list>
          <mat-list-item *ngFor="let category of categories">
            <h4 matLine>{{ category.name }}</h4>
            <p matLine>{{ category.description }}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>