/* book-edit.component.css */
.book-edit-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .book-edit-card {
    width: 600px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }